@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Text Selection Styling */
::selection {
  @apply bg-indigo-500 text-white;
}

/* For Firefox */
::-moz-selection {
  @apply bg-indigo-500 text-white;
}